<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
    <ul>
        <li>
            <a th:href="@{'/'}">Главная страница</a>
        </li>
        <li>
            <a th:href="@{'/addProduct'}">Добавить товар</a>
        </li>
        <li>
            <a th:href="@{'/showAllProduct'}">Список всех товаров</a>
        </li>
    </ul>
</head>
<body>
<h1>Add products</h1>

<form th:action="@{/processForm}" th:object="${product}">
    <p>Id: <input type="text" th:field="*{id}"/></p>
    <br>
    <p>Title: <input type="text" th:field="*{title}" /></p>
    <br>
    <p>Cost: <input type="text" th:field="*{cost}"/></p>
    <br>
    <p><input type="submit" value="Submit"/></p>
</form>
</body>
</html>